.ivu-form-item {
	margin-bottom: 22px;
}

body {
	zoom: 90%
}

/* body {
	font-size: 13px;
} */

.ivu-layout.ivu-layout-has-sider>.ivu-layout, .ivu-layout.ivu-layout-has-sider>.ivu-layout-content {
	overflow-y: hidden;
}